.icon_arrow_down {
    width:12px;
    height:12px;
    background:url('~@/assets/images/interface_icons/arrow_down.svg') no-repeat;
    transition:0.2s;
    opacity:0.7;
}

.icon_arrow_down:hover {
    opacity: 0.8; 
}

.icon_arrow_down:hover {
    opacity: 1.0; 
}

.icon_arrow_up {
    width:12px;
    height:12px;
    background:url('~@/assets/images/interface_icons/arrow_up.svg') no-repeat;
    transition:0.2s;
    opacity:0.8;
}

.icon_arrow_up:hover {
    opacity: 0.8; 
}

.icon_arrow_up:hover {
    opacity: 1.0; 
}

.icon_image {
    width:22px;
    height:13px;
    background:url('~@/assets/images/interface_icons/image.svg') no-repeat;
    transition:.2s;
    opacity:0.7;
}

.icon_image:hover {
    opacity:0.8;
}

.icon_image:active {
    opacity:1.0;
}

.icon_edit {
    width:14px;
    height:14px;
    background:url('~@/assets/images/interface_icons/edit.svg') no-repeat;
    transition:.2s;
    opacity:0.7;
}

.icon_edit:hover {
    opacity:0.8;
}

.icon_edit:active {
    opacity:1.0;
}

.icon_floppy {
    width:14px;
    height:14px;
    background:url('~@/assets/images/interface_icons/floppy.svg') no-repeat;
    transition:.2s;
    opacity:0.7;
}

.icon_floppy:hover {
    opacity:0.8;
}

.icon_floppy:active {
    opacity:1.0;
}

.icon_calendar {
    width:20px;
    height:20px;
    background:url('~@/assets/images/interface_icons/calendar.svg') no-repeat;
    transition:.2s;
    opacity:0.7;
    cursor:pointer;
}

.icon_calendar:hover {
    opacity:0.8;
}

.icon_calendar:active {
    opacity:1.0;
}